.user.ini
index.php
license.txt
readme.html
vendor/
wordfence-waf.php
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/debug.log
wp-content/index.php
wp-content/plugins/
wp-content/themes/twentytwenty/
wp-content/uploads/
wp-content/wflogs/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
